{% extends "base.html.twig" %}


{% block container %}
	<div class="col-lg-12 mt-3 p-3">
		<div class="card" style="width: 100%;">
			<div class="card-body">
				<div class="card-title col-lg-12 row">
                    <h5 class="col">
                        <i class="bi bi-cart-check-fill" ></i>
                        Productos
                    </h5>
                    
                    <div class="col">
					 	<a href="{{ full_url_for("home") }}" class="btn btn-primary">
							Regresar
                        </a>
                        <a href="{{ full_url_for("create_product") }}" class="btn btn-primary">
							Agregar un nuevo producto
                        </a>
                    </div>
				</div>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>#</th>
							<th>Nombre del producto</th>
							<th>Precio de costo</th>
							<th>Precio al publico</th>
							<th>En stock</th>
							<th>Categoria</th>
							<th>Estatus</th>
							<th>Opciones</th>
						</tr>
					</thead>
					<tbody>
						{% set count = 1 %}
						{% for product in products %}
							<tr>
								<td> {{ count }} </td>

								<td><p> {{ product.nombreProducto }} </p></td>
								<td><p> {{ product.precioCosto }} </p></td>
								<td><p> {{ product.precioPublico }} </p></td>
								<td><p> {{ product.stock }} </p></td>
								<td>
									{% for category in categories %}
										{% if category.id == product.idCategoria %}
											<p> {{ category.nombreCategoria }} </p>
										{% endif %}
									{% endfor %}
								</td>
								<td>
									{% if product.active == 1 %}
										<p>
											Activo
										</p>
									{% else %}
										<p>
											Inactivo
										</p>
									{% endif %}
								</td>
								<td>
									<div class="row">
										<div class="col-lg-6">
											<a 
												href="{{ full_url_for('show_product', { 'id': product.id }) }}" 
												class="col-lg-12 btn btn-primary">Detalles</a>
										</div>
										<div class="col-lg-6">
											<form class="" method="POST" action="{{ full_url_for('delete_product') }}">
												<input type="hidden" name="id" value="{{ product.id }}">
												<button class="col-lg-12 btn btn-danger">Eliminar</button>
											</form>
										</div>
									</div>
								</td>

							</tr>
							{% set count = count + 1 %}
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}
