{% extends "base.html.twig" %}


{% block container %}
	<div class="col-lg-8 mx-auto mt-3 p-3">
		<div class="card" style="width: 100%;">
			<div class="card-body">
				<div class="card-title col-lg-12 row">
                    <h5 class="col">
						<i class="bi bi-currency-dollar"></i>
                        Agregar una nueva venta
                    </h5>
                    
                    <div class="col">
                        <a href="{{ full_url_for("sells") }}" class="btn btn-primary">
							Regresar
                        </a>
                    </div>
				</div>

				<div>
					<p>Campos requeridos <span class="text-danger" style="font-size:20px;">*</span></p>
				</div>

				<form action="{{ full_url_for('store_sell') }}" method="POST" class="row" >
					<div class="mb-3 col-lg-6">
						<label for="idProducto" class="form-label">Producto: <span class="text-danger" style="font-size:20px;">*</span></label>
						<select class="form-select" aria-label="idProducto" id="idProducto" name="idProducto">
							<option selected disabled>Seleccione un producto</option>
							{% for product in products %}
								<option value="{{ product.id }}" data-precio="{{ product.precioPublico }}">  
									{{ product.nombreProducto }}  
								 </option>
							{% endfor %}
						</select>
					</div>
					
					<div class="mb-3 col-lg-6">
						<label for="precioVenta" class="form-label">Precio de venta: <span class="text-danger" style="font-size:20px;">*</span></label>
						<input type="text" placeholder="$" name="precioVenta" class="form-control" id="precioVenta" require>
					</div>
					<div class="mb-3 col-lg-6">
						<label for="cantidadVendidos" class="form-label">Cantidad vendidos: <span class="text-danger" style="font-size:20px;">*</span></label>
						<input type="text" value="1" placeholder="$" name="cantidadVendidos" class="form-control" id="cantidadVendidos" require>
					</div>
					<div class="form-floating">
						<textarea class="form-control" placeholder="Ingrese una breve descripción" name="descripcionProducto" id="descripcionProducto" style="height: 100px"></textarea>
						<label for="descripcionProducto">Descripción de la venta:</label>
					</div>	

					<button class="btn btn-success rounded col-lg-4 mx-auto mt-3" type="submit" >Guardar</button>
				</form>
			</div>
		</div>
	</div>
{% endblock %}

{% block scriptSection %}
	<script src="/assets/js/sells/index.js"></script>
{% endblock %} 
