{% extends "base.html.twig" %}


{% block container %}
	<div class="col-lg-12 mt-3 p-3">
		<div class="card" style="width: 100%;">
			<div class="card-body">
				<div class="card-title col-lg-12 row">
					<h5 class="col">
						<i class="bi bi-people-fill"></i>
						Roles
					</h5>

					<div class="col">
						<a href="{{ full_url_for("home") }}" class="btn btn-primary">
							Regresar
						</a>
						<a href="{{ full_url_for("create_rol") }}" class="btn btn-primary">
							Agregar un nuevo rol
						</a>
					</div>
				</div>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>#</th>
							<th>Nombre del rol</th>
							<th>Descripcion del rol</th>
							<th>Estatus</th>
							<th>Opciones</th>
						</tr>
					</thead>
					<tbody>
						{% set count = 1 %}
						{% for rol in roles %}
							<tr>
								<td>
									<p>
										{{ count }}
									</p>
								</td>

								<td>
									<p>
										{{ rol.nombreRol }}
									</p>
								</td>
								<td>
									<p>
										{{ rol.descripcionRol }}
									</p>
								</td>
								<td>
									{% if rol.active == 1 %}
										<p>
											Activo
										</p>
									{% else %}
										<p>
											Inactivo
										</p>
									{% endif %}
								</td>
								<td>
									<div class="row">
										<div class="col-lg-12">
											<a 
												href="{{ full_url_for('edit_rol', { 'id': rol.id }) }}" 
												class="col-lg-5 btn btn-warning">Editar</a>
											<div class="col-lg-5 ">
												<form class="" method="POST" action="{{ full_url_for('delete_rol') }}">
													<input type="hidden" name="id" value="{{ rol.id }}">
													<button class=" btn btn-danger">Eliminar</button>
												</form>
											</div>
										</div>
									</div>
								</td>
							</tr>
							{% set count = count + 1 %}
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}
