{% extends "base.html.twig" %}


{% block container %}
	<div class="col-lg-12 mt-3 p-3">
		<div class="card" style="width: 100%;">
			<div class="card-body">
				<div class="card-title col-lg-12 row">
                    <h5 class="col">
                        <i class="bi bi-people-fill"></i>
                        Usuarios
                    </h5>
                    
                    <div class="col">
                        <a href="{{ full_url_for("create_user") }}" class="btn btn-primary">
							Agregar un nuevo usuario
                        </a>
                    </div>
				</div>
				<table class="table table-striped">
					<thead>
						<tr>
							<th></th>
							<th>Nombre de usuario</th>
							<th>Rol</th>
							<th>Estatus</th>
							<th>Opciones</th>
						</tr>
					</thead>
					<tbody>
					{% set count = 1 %}
					{% for user in users %}
						<tr>
							<td> {{ count }}  </td>
							<td> {{ user.name }}  </td>
							
							{# Obtencion del rol #}
							{% for rol in roles %}
								{% if  user.idRol == rol.id %}
									<td> {{ rol.nombreRol }}  </td>
								{% endif %}
							{% endfor %}
							{# End obtencion de rol #}

							{# Validacion estatus #}
							{% set estatus = 'Activo' %}

							{% if user.active != 1 %}
								{% set estatus = 'Inactivo' %}
							{% endif %}
							{# End Validacion estatus #}

							<td> {{ estatus }}  </td>	
							<td> 
								<div class="row">
									<div class="col-lg-12">
										<a 
											href="{{ full_url_for('edit_user', { 'id': user.id }) }}" 
											class="col-lg-5 btn btn-warning">Editar</a>
										<div class="col-lg-5 ">
											<form  
												class=""
												method="post" 
												action="{{ full_url_for('delete_user', { 'id': user.id }) }}">
												<button class=" btn btn-danger">Eliminar</button>
											</form>
										</div>
									</div>
								</div> 
							</td>
						</tr>
						{% set count = count + 1 %}
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}
