{% extends "base.html.twig" %}


{% block container %}
	<div class="col-lg-6 mx-auto mt-3 p-3">
		<div class="card" style="width: 100%;">
			<div class="card-body">
				<div class="card-title col-lg-12 row">
                    <h5 class="col">
                        <i class="bi bi-people-fill"></i>
                        Usuario
                    </h5>
                    
                    <div class="col">
                        <a href="{{ full_url_for("users") }}" class="btn btn-primary">
							Regresar
                        </a>
						<a href="{{ full_url_for("edit_user", { 'id': usuario.id }) }}" class="btn btn-warning">
							Editar usuario
                        </a>
                    </div>
				</div>

				<div class="row text-center mt-3">
					<div class="col-lg-12 ">
						<img src="/assets/img/default/perfil-usuario.png" 
							alt="imagen de usuario"
							class="rounded-circle" 
							width="200" 
							height="200" >
					</div>
					<div class="col-lg-12 mt-3 mb-3">
						<p>Nombre de usuario: <strong> {{ usuario.name }} </strong></p>
					</div>
					
					<div class="col-lg-12 mb-3">
						{% for rol in roles %}
							<p >  
								{% if rol.id == usuario.idRol %} Rol: <strong> {{ rol.nombreRol }} </strong> {% endif %}  
							</p>
						{% endfor %}
					</div>

					<div class="col-lg-12 mb-3">
						<p>Última fecha de inicio de sesión: <strong> {{ usuario.lastLogin }} </strong></p>
					</div>
				</div>

			</div>
		</div>
	</div>
{% endblock %}
